@media only screen and (max-width: 1050px) {
	/* For mobile phones: */
	#chat-window {
		width: 50% !important;
		height: 60% !important;
	}
}
@media only screen and (max-width: 800px) {
	/* For mobile phones: */
	#chat-window {
		width: 80% !important;
		height: 60% !important;
	}
}

/* @media only screen and (max-width: 1050px) { */
/* For mobile phones: */
/* #chat-window {
		max-width: 100%;
		max-height: 90%;
	}
} */
/* .chat-popup {
	display: inline;
} */
#chat_icon {
	/* background-image: "../assets/chat.svg"; */
	background-image: url("../assets/chat.svg");
	background-repeat: no-repeat;
	width: 4.1rem;
	height: 4.1rem;
	position: fixed;
	bottom: .7rem;
	right: 1rem;
}
#chat-window {
	position: fixed;
	right: 1rem;
	/* border: 1px 0 1px solid black; */
	width: 23rem;
	height: 23rem;
	bottom: 3rem;
	box-sizing: border-box;
	position: absolute;
	/* transition: all 0.5s ease-in-out;
	transform: scale(0.8); */
}

.chat-header-container {
	height: 10%;
	background-color: goldenrod;
	border: 1px solid rgba(0, 0, 0, 0.349);
	border-radius: .8rem .8rem 0 0;
	/* background: url("../assets/close_icon.svg") right no-repeat; */
	position: relative;

	/* background-repeat: no-repeat; */
}

.chat-header {
	/* margin: justify; */
	height: 80%;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2%;
	padding-bottom: 2%;
	position: relative;
	max-width: 100%;
	max-height: 100%;

	/* height: 80%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2%;
    max-width: 100%;
    max-height: 100%; */
}
.chat-title {
	/* padding-left: 12px;
	padding-top: 12px; */
	/* float: left;
	text-align: center;
	padding-left: .5rem;
	margin: auto;
	padding-bottom: 10%; */
	/* display: flex; */
	display: inline;
	font-size: 1rem;
	padding-left: 2%;
	/* width: 50%; */
	/* flex-direction: row; */
	align-items: centre;
}
.header-elements {
	/* margin-top: 12px;
	margin-right: 10px; */
	/* width: 1rem; */
	/* display: inline; */
	background-image: url("../assets/close_icon.svg");
	background-repeat: no-repeat;
	width: 5%;
	/* position: relative; */
	/* height: 1rem; */
	/* display: flex; */
	height: 1rem;
	float: right;
	cursor: pointer;
}
.chat-conv {
	height: 80%;
	/* border-bottom: 1px solid black;
	border-bottom-left-radius: .4rem;
	border-bottom-right-radius: .4rem; */
	border-left: 1px solid;
    border-right: 1px solid;
}

.text-box {
	height: 10%;
	background: goldenrod;
}

.Input-text {
	display: block;
	margin: 0;
	padding: var(--inputPaddingV) var(--inputPaddingH);
	width: 85%;
	font-family: inherit;
	font-size: var(--inputFontSize);
	font-weight: inherit;
	/* line-height: var(--inputLineHeight); */
	line-height: 23px;
	border: none;
	border-radius: 50px;
	/* transition: box-shadow var(--transitionDuration); */
	height: 100%;
	padding: 0 10px;
	/* background: indianred; */
	background: rgba(218, 165, 32, 0.521);
	float: left;
}

.Input-text::placeholder {
	color: #151e22;
}

.send-button {
	width: 30px;
	height: 40px;
	float: right;
	margin-right: 5px;
}

.msg-inbox {
	/* border: 1px solid #ccc; */
	padding-bottom: 30px;
	max-height: 91%;
	overflow-y: scroll;
}
.chat-page {
	/* overflow: scroll; */

	padding: 0 0 50px 0;
}
.chats {
	padding: 10px 0px 10px 10px;
}

.msg-inbox::-webkit-scrollbar {
	width: 5px;
}
.msg-inbox::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}
.received-message {
	max-width: 75%;
	padding-right: 8px;
	/* width: 100%; */
	float: left;
	clear: both;
	display: block;
	position: relative;
}
.received-text {
	background: wheat;
	border-radius: 0.4rem;
	padding: 4px 6px 4px 6px;
	/* width: 75%; */
}
.message-info {
	display: block;
	color: rgb(168, 167, 167);
	display: block;
	font-size: 12px;
	padding-left: 8px;
	float: right;
	/* width: 50%; */
}
.user-message {
	margin-top: 5px;
	float: right;
	padding-right: 8px;
	clear: both;
}
.user-text {
	background: plum;
	border-radius: 0.4rem;
	padding: 4px 6px 4px 6px;
	width: 75%;
	float: right;
}

.user-message-info {
	color: #777;
	display: block;
	font-size: 12px;
	padding-left: 8px;
	/* margin: 25%; */
	float: right;
	margin-right: 6px;
}
/* 
.chat-popup {
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: 1;
	-webkit-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
	animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
	display: inline;
}

@-webkit-keyframes zoomIn {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0.0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes zoomIn {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0.0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
} */

/* .popup-open {
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: 1;
	-webkit-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
	animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
} */
